<head>
    <title>APP OTO</title>
    <style>
        a:hover{
            color:yellow ;
            background: #08ff00;
        }
        a:active {
            color: yellow;
            background: red;
        }
        .bt:hover {
            background: #ff0000;
            color: #fff;
        }
        .bts:hover{
            background: #0090ff;
            color: #fff;
        }
        .button {
            background-color: cyan;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
            border: 2px solid rgb(12, 221, 186);
            color: darkorange;
            padding: 8px 20px;
            border-radius: 8px;
            font-weight: bold;
        }

        .bt ,.bts{
            margin: 0.5rem;
            border: 2px solid gray;
            color: gray;
            background-color: white;
            padding: 8px 14px;
            border-radius: 8px;
            font-size: 12px;
            font-weight: bold;

        }

        table {
            counter-reset: rowNumber;
            width: 80%;
            padding: 1rem;
            margin-left: 10rem;
            margin-top: 2rem;
            text-align: center;
            border: 1px solid rebeccapurple;
        }
        table, th, td {
            border: 1px solid black;
        }
        table tr{
            text-align: center;
            margin: 0.5rem;
            padding: 1.5rem;
        }
        table tr td{
            text-align: center;
            margin: 1rem;
            padding: 1rem;
            align-items: center;

        }

        table tr::before {
            display: table-cell;
            counter-increment: rowNumber;
            content: counter(rowNumber) " ";
            padding-right: 0.3em;
            padding-top:1rem;
            text-align: center;

        }
    </style>
    <h1 style="text-align: center;color: red;text-transform: uppercase">Phụ Kiện</h1>

    <h1 style="text-align: center">
        <a href="/home" class="button">Dòng Xe</a>
        <a href="/xe" class="button">Xe</a>
        <a href="/loaiphukien" class="button">Loại Phụ Kiện</a>
        <a href="/phukien" class="button">Phụ Kiện</a>
        <a href="/tintuc" class="button">Tin Tức</a>
    </h1>


    <table >
        <thead>
        <tr>
            <th scope="col">Loại Phụ Kiện</th>
            <th scope="col">Tên Phụ Kiện</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Giới Thiệu</th>
            <th scope="col">Xuất Xứ</th>
            <th scope="col">Hỗ Trợ Các dòng xe</th>
            <th scope="col">Giá</th>
            <th scope="col">Tùy Chỉnh</th>
        </tr>
        </thead>
        <tbody>
        {{#each pk}}
            <tr >
                <td scope="row">{{this.phukien_id.tenloaiphukien}}</td>
                <td scope="row">{{this.tenphukien}}</td>
                <td>
                    <img style="width: 50px;" src="{{this.anh}}">
                </td>
                <td scope="row">{{this.gioithieu}}</td>
                <td scope="row">{{this.xuatxu}}</td>
                <td scope="row">{{this.htdongxe}}</td>
                <td scope="row">{{this.gia}}</td>
                <td>
                    <a href="/phukien/sua/{{this._id}}" class="bts">Sửa</a>
                    <a href="javascript:void(0);" onclick="confirmDelete('/phukien/xoa/{{this._id}}','{{this.tenphukien}}')"
                       class="bt">Xóa</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div style="text-align: center" class="container-fluid">
        <a href="/phukien/them" class="button">Thêm Phụ Kiện</a>
    </div>
    <script>
        function confirmDelete(url, catename) {
            var conf = confirm(`Are you sure delete? ${catename}`);
            if (conf == true) {
                window.location.href = url;
            }
        }

    </script>
